* {
    margin: 0;
    font-family: 'raleway', sans-serif;
}

body {
    text-align: center;
    width: 100%;
}

.head {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    text-align: center;
    padding: 1rem;
    justify-content: center;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ae2012;
}

header>a {
    display: flex;
    align-items: center;
}

h1 {
    display: flex;
    font-size: 7rem;
    font-weight: 100;
    font-style: italic;
    padding-bottom: 0.7rem;
    font-family: 'raleway thin', sans-serif;
    margin-left: 3rem;
}


.logo {
    display: flex;
    width: 6rem;
    height: 6rem;
    margin-top: 0.5rem auto;
    border-radius: 11% 89% 9% 91% / 73% 27% 73% 27%;
    border: 1px solid #ae2012;
}

button:hover {
    cursor: pointer;
}

.visiter_home {
    display: flex;
    margin-top: 3rem;
}

.homeimg {
    width: 50%;
    height: 20rem;
    background: url('../img/front/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.intro {
    font-size: 2rem;
    width: 72%;
    font-weight: 600;
    margin: auto;
    font-family: 'raleway';
    text-align: justify;
}


.scroll {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 1;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.burger_icon {
    display: none;
}

.burger {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.burger>a {
    text-decoration: none;
    color: black;
}

#home,
#about,
#gallery,
#calendar,
#connection {
    padding: 0 3rem;
    border-radius: 5px;
}

.burger>hr {
    width: 2rem;
    transform: rotate(90deg);
}

.gallery {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.year_event {
    display: flex;
    text-align: center;
    margin: auto;
    font-size: 3.5rem;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.year {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    padding: 0.5rem;
    margin: 0.5rem;
}

.poster {
    width: 80%;
    height: 15rem;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url('../img/front/calendar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
}

h3 {
    font-size: 3rem;
    color: black;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.table {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    border: 3px solid black;
    font-weight: 900;
    font-size: 18px;
    left: 10px;
}

thead {
    border: 3px solid black;
}

th {
    border: 3px solid black;
    width: 6rem;
    height: 2.5rem;
}

.small_screen {
    display: none;
}

td {
    border-left: 3px solid black;
    border-right: 3px solid black;
    text-align: center;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: white;
}

.impair{
    background-color: #E4D7AC;
    color: black;
}

.pair{
    background-color: #B0B3BE;
    color: black;
}

.today {
    font-weight: 700;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-weight: 900;
}

.select {
    font-weight: 700;
    background-color: black;
    color: white;
}

#event_display {
    border: 0px;
    width: 100%;
    height: 100%;
}

#event_display:hover {
    cursor: pointer;
}

.legend {
    text-align: left;
    border: 3px solid black;
    padding: 1rem;
    margin: 1rem auto;
}

.legend_item {
    display: flex;
    margin: 0.5rem;
}

.legend_color {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.green {
    background-color: #AEFF00;
}

.orange {
    background-color: #FF4B00;
}

.fuchsia {
    background-color: #FD35BC;
}

h2 {
    margin: 1rem;

}

.event_description {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#past_event {
    margin: 1rem auto;
    background-color: transparent;
    border: 5px inset #ae2012;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    font-size: 2rem;
    font-family: 'raleway', sans-serif;
    color: #ae2012;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: white;
    font-weight: 600;
    font-style: italic;
}

#display_past_event {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

.picture {
    background-color: #ae2012;
    font-family: 'raleway', sans-serif;
    color: white;
    margin: 1rem;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
}

#display_event {
    display: none;
    flex-direction: column;
    margin-top: 2rem;
}

.display_event {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
}

.date {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.event_title {
    display: flex;
    width: 50%;
    align-items: center;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ae2012;

}

.event_title>h4 {
    font-size: 2rem;
    width: 15rem;
    margin: auto;
    text-align: center;
}

.event_infos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem;
    width: 100%;
}

.infos_event {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: fit-content;
}

.participation {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.butpart {
    display: flex;
    margin: auto;
    justify-content: right;
    flex-direction: column;
    margin-left: 6rem;
}

#part {
    margin: 1rem 0;
    width: fit-content;
    background-color: #AEFF00;
    color: black;
    border: none;
    border-radius: 5px;
    margin-right: 0;
}

#unpart {
    display: none;
    width: fit-content;
    background-color: #ae2012;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 0;
}

.wishpart {
    display: none;
    flex-direction: column;
    justify-content: center;
}

input#numbpart {
    width: 3rem;
    margin: 1rem auto;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1;

}

.nbpartvalidate {
    margin-bottom: 1rem;
    margin: auto;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
}

.participant {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem auto;
}

.part_info {
    text-align: center;
    margin: 10px;
}

.register {
    display: none;
    justify-content: space-evenly;
    margin-top: 1rem;
    text-align: right;
    width: 100%;
}

.cancel {
    text-align: center;
    background-color: #ae2012;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
}

.save {
    text-align: center;
    background-color: #AEFF00;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
}

#part_infos {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}

#part_infos>input {
    text-align: center
}

.connection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
    width: 70%;
    color: #ae2012;
}

h5 {
    font-size: 2rem;
    color: #ae2012;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    margin: auto;
    padding: 0.5rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    border: 2px inset #ae2012;
    width: fit-content;
}

.login {
    text-align: center;
    margin: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
}

.signupbut {
    margin-top: 1rem;
}


.about {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 50vh;
}

.content {
    display: flex;
    background: url('../img/front/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 3rem;
    color: black;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    width: 100%;
    height: 100%;
    align-items: center;
}

.content>ul {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.event_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    margin: 1rem auto;
}

.info_display {
    display: none;
    flex-direction: column;
}

.gallery_event {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}

.event_img {
    width: 20rem;
    height: 20rem;
    margin: 1rem;
}

.connect {
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: white;
    font-weight: 700;
    color: black;
    border: 2px inset #ae2012;
    border-radius: 5px;
}

.co {
    margin-top: 2rem;
}

.adminspace {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
}

.adminspace>a {
    text-decoration: none;
    color: black;
}

.add_event {
    display: flex;
    background-color: transparent;
    font-size: 2rem;
    width: fit-content;
    margin: 1rem auto;
    border-radius: 5px;
    font-weight: 700;
    padding: 5px;
}

.new {
    color: black;
    border: 2px inset #AEFF00;
}

.past {
    color: black;
    border: 2px inset #ae2012;
}

h6 {
    font-size: 2.5rem;
    margin: 1rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: #ae2012;
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
}

.form_old_event>form , .form_new_event>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 3rem;
    border: 2px inset #ae2012;
    width: 50%;
    padding: 0 5rem 1rem 5rem;
    font-size: 2rem;
}

.item_old_event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5rem auto;
}

.item_old_event>input {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.adddate {
    margin-top: 0.5rem;
}

.time {
    width: 5rem;
    margin: auto;
}

textarea {
    margin-top: 0.5rem;
}

.item_old_event>input[type=number] {
    width: 3rem;
    margin: 0.5rem auto;
}



input {
    text-align: center;
}

.nb_pic {
    display: none;
    width: fit-content;
    margin: 1rem auto;
}

.addposter {
    display: none;
    margin: 1rem auto;
}

.pictures {
    display: none;
    flex-direction: column;
}

.add_pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.add_picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.picture_poster {
    color: #ae2012;
}

.pic_input {
    padding: 0.5rem;
    border: 1px solid black;
}

.old {
    width: fit-content;
    margin: 1rem auto;
}

.event_add {
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 10px;
    border-radius: 15rem;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    background: url('../img/front/visitor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 96.5%;
    padding: 2rem;
}

.form_signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    width: fit-content;
    margin: auto;
}

.signup_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.signup_item>label {
    font-weight: 700;
    /* font-size: 1.3rem; */
}

.signup_item>input {
    margin: 0.5rem auto;
    width: 15rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
}

.psw,
.pswc,
.pswn,
.pswnc {
    display: flex;
    margin: 0.5rem auto;
    width: 15rem;
    padding: 0.5rem;
    border: 1px solid black;
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
}

.password,
.passwordc,
.passwordo,
.passwordn,
.passwordnc {
    border: none;
    background-color: transparent;
}

.password:focus,
.passwordc:focus,
.passwordo:focus,
.passwordn:focus,
.passwordnc:focus {
    outline: none;
}

.eye,
.eyec,
.eyeo,
.eyen,
.eyenc {
    display: none;
    font-size: 1.3rem;
}

.eye:hover,
.eyec:hover,
.eye-slash:hover,
.eye-slashc:hover {
    cursor: pointer;
}

.eye-slash,
.eye-slashc,
.eye-slasho,
.eye-slashn,
.eye-slashnc {
    display: none;
    font-size: 1.3rem;
}

.password_strength, .password_strengthn {
    display: none;
    width: 16rem;
    margin: auto;
    height: 10px;
    border: 1px solid black;
}

.tolow , .tolown{
    display: none;
    background-color: rgb(255, 0, 0);
    width: 25%;
    height: 100%;
    animation: strength 1s;
}

.low, .lown {
    display: none;
    background-color: orange;
    width: 25%;
    height: 100%;
    animation: strength 1s;
}

.correct, .correctn {
    display: none;
    background-color: yellowgreen;
    width: 25%;
    height: 100%;
    animation: strength 1s;
}

.strong, .strongn {
    display: none;
    background-color: green;
    width: 25%;
    height: 100%;
    animation: strength 1s;
}

@keyframes strength {
    0% {
        width: 0%;
    }

    100% {
        width: 25%;
    }
}

.requierements, .requierementsn{
    display: none;
    flex-direction: column;
    text-align: left;
    margin: auto;
}

.requierement{
    display: flex;
    align-items: center;
    margin: auto;
}

.star{
    font-size: 0.7rem;
    margin-right: 0.5rem;
}

.checked{
    margin-left: 0.5rem;
    color: rgba(0, 128, 0);
}

.unchecked{
    margin-left: 0.5rem;
    color: #ae2012;
}

.signup_item>a {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    padding: 10px;
    border-radius: 15rem;
    width: fit-content;
    margin: auto;
}

.signup_item>a:hover {
    cursor: pointer;
}

.visitor {
    display: flex;
    background: url('../img/front/visitor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 96.5%;
    text-align: center;
    padding: 2rem;
}

.visitor>h5 {
    font-weight: 900;
    background-color: black;
    color: #8E7630;
    border: none;
    -webkit-text-stroke-width: 0;
}

.sign {
    background-color: #fff;
}

.profil {
    display: none;
}

.profil_img {
    display: flex;
    width: 50%;
    background: url('../img/front/profil.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profil_infos {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.profil_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    width: fit-content;
    margin: auto;
}

.profil_item>ul {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.modify_psw{
    display: none;
}

.profil_info {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 1rem;
    width: 30rem;
}

.modifybut {
    margin-top: 1rem;
}

#modify_pwd{
    margin: auto;
}

.event_signup {
    margin-top: 2rem;
}

.signup_event {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup_event_item {
    text-align: center;
}

.name-event {
    margin-bottom: 0.5rem;
}

.profilbut {
    font-size: 1rem;
    background-color: #fff;
    padding: 3px;
    color: black;
    font-weight: 800;
    border: 5px inset #507D3F;
    border-radius: 5px;
    width: fit-content;
}

.delete{
    display: flex;
    margin: auto;
    color: #ae2012;
    border : 5px inset #ae2012;
}

.delete>a{
    text-decoration: none;
    color: #ae2012;
}

.accompte{
    margin-top: 1rem;
}

.modify_user_info{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.input_user_info, .input_user_info_psw{
    width: fit-content;
}

.modify_user_info_button{
    display: flex;
    justify-content: center;
}

.validbut, .cancelbutl, .cancelbutf, .cancelbute, .cancelbutp{
    margin: auto;
}

.delete_accompte_confirm{
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.deletebut{
    display: flex;
    padding: 1rem;
}

.deletebut>a{
    text-decoration: none;
}

#notdelete{
    margin-left: 3rem;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.5rem;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.foot {
    border: 1px solid #ae2012;
    text-align: center;
    width: 15rem;
    margin: 1REM auto;
}


@media screen and (max-width: 1700px) {
    nav {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 5rem;
    }

    .logo {
        width: 5rem;
        height: 5rem;
    }

    .visiter_home {
        margin: 0;
        flex-direction: column;
        justify-content: center;
    }

    .homeimg {
        display: flex;
        width: 100%;
        margin: auto;
        height: 10rem;
    }

    .home {
        margin: auto;
        width: 100%;
        margin-top: 1rem;
    }

    .add_event {
        font-size: 1.5rem;
    }

    .signup_item {
        font-size: 1rem;
    }

    footer>p {
        font-size: 1rem;
    }

    .footer {
        position: relative;
    }

}

@media screen and (max-width: 1350px) {
    nav {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1200px) {
    nav {
        display: flex;
        flex-wrap: wrap;
    }

    .burger>a {
        width: 15rem;
    }

    .profilbut {
        font-size: 0.8rem;
        font-weight: 600;
    }
}

@media screen and (max-width: 950px) {
    #home,
    #about,
    #gallery,
    #calendar,
    #connection {
        padding: 0 10px;
    }
}

@media screen and (max-width: 850px) {
    header {
        margin: 0.5rem;
        justify-content: center;
        width: fit-content;
    }

    header>a {
        width: fit-content;
    }

    h1 {
        font-size: 3rem;
        margin-left: 2rem;
        font-family: 'raleway', sans-serif;
        color: white;
        font-weight: 200;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #ae2012;
    }

    .logo {
        width: 3rem;
        height: 3rem;
    }
    .profil {
        flex-direction: column-reverse;
    }

    .profil_img {
        width: 100%;
        height: 30rem;
    }

    .profil_infos {
        width: 100%;
        justify-content: center;
    }

}

@media screen and (max-width: 800px) {
    .small_screen {
        display: block;
    }

    .big_screen {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    header {
        padding: 0.3rem;
        margin: 0.5rem;
        width: 100%;
    }

    h1 {
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-top: 5px;
    }

    .logo {
        width: 2rem;
        height: 2rem;
        margin: auto;
    }

    .intro {
        font-size: 1.5rem;
        width: auto;
        margin: 1rem;
    }

    .burger_icon {
        display: flex;
        border: none;
        font-size: 1rem;
        background-color: transparent;
    }

    .burger {
        display: none;
        margin-top: 0.5rem;
    }

    nav {
        width: fit-content;
        height: auto;
        padding: 1rem;
        font-size: 0.7rem;
        background-color: #ae2012;
        border-radius: 11% 89% 18% 82% / 62% 13% 87% 38%;
    }

    .burger>hr {
        display: none;
    }

    .intro{
        font-size: 1rem;
    }

    h3 {
        font-size: 1.5rem;
    }
    
    table {
        width: 100%;
    }
    
    .event {
        width: 15rem;
    }

    #past_event {
        font-size: 1.5rem;
    }

    .footer{
        position: fixed;
    }

    .foot {
        width: 10rem;
    }

    footer {
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 700px) {
    .content {
        font-size: 2rem;
    }

    .old_event {
        font-size: 1.5rem;
    }

    .item_old_event,
    .add_picture {
        font-size: 1rem;
    }

    .event_add {
        font-size: 1rem;
    }

    .form_old_event>form {
        width: fit-content;
        justify-content: center;
    }

    #home,
    #about,
    #gallery,
    #calendar,
    #connection {
        padding: 0;
        width: fit-content;
    }

}


@media screen and (max-width: 550px) {
    h1 {
        font-size: 2rem;
        font-weight: 300;
    }

    .container{
        background: none;
    }

    .add_event {
        font-size: 1rem;
    }

    h5 {
        font-size: 1.5rem;
        -webkit-text-stroke-width: 0px;
        color: black;
    }

    .profil_info, .signup_event  {
        font-size: 1rem;
    }

    .profil_img{
        display: none;
    }

    footer>p {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
        font-weight: 400;
    }

    h5{
        font-size: 1.3rem;
    }

    .logo {
        width: 1.5rem;
        height: 1.5rem;
    }

    .form_old_event>form {
        padding: 0;
    }
}