* {
    margin: 0;
}

body {
    text-align: center;
    background-image: url('../img/DSC_0028\ copie\ bd.jpg');
    background-size: cover;
    width: 100%;
}

header {
    display: flex;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    justify-content: space-evenly;
    background: linear-gradient(0.25turn, white, #ae2012, white);
    border-radius: 11% 89% 18% 82% / 62% 13% 87% 38%;
    border-left: 1px solid #ae2012;
    border-right: 1px solid #ae2012;
}

h1 {
    font-size: 7rem;
    font-weight: 100;
    font-style: italic;
    padding-bottom: 0.7rem;
    font-family: 'raleway thin', sans-serif;
}


.logo {
    width: 6rem;
    height: 6rem;
    margin-top: 0.5rem;
    border-radius: 11% 89% 9% 91% / 73% 27% 73% 27%;
    border: 1px solid #ae2012;
}


@media (max-width: 750px) {
    .head{
        display: flex;
        justify-content: center;
    }

    header {
        padding: 0.3rem;
        margin: 0.5rem;
        width: fit-content;
    }

    h1 {
        font-size: 1rem;
    }

    .logo{
        width: 0.7rem;
        height: 0.7rem;
        margin: 0.2rem;
    }
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro{
    font-size: 2rem;
    width: 64rem;
    font-weight: 600;
    margin: auto;
    font-family: 'raleway';
    text-align: justify;
    margin: 4rem;
}

@media screen and (max-width: 750px) {
    .intro{
        font-size: 1.5rem;
        width: auto;
        margin: 1rem;
    }
}
    

.scroll {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    background: #ae2012;
    height: 80px;
    width: 80%;
    margin: 1rem auto;
    border-radius: 11% 89% 18% 82% / 62% 13% 87% 38%;
    color: #EEAA23;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.burger_icon {
    display: none;
}

.burger {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.burger>a {
    text-decoration: none;
    color: white;
}

@media (max-width: 750px) {
    .burger_icon {
        display: flex;
        border: none;
        background-color: #ae2012;
        border-radius: 11% 89% 18% 82% / 62% 13% 87% 38%;
        font-size: 0.5rem;
    }

    .burger {
        display: none;
    }

    nav {
        width: fit-content;
        height: auto;
        padding: 1rem;
        font-size: 0.7rem;
    }
}

h3{
    font-size: 3rem;
}

.contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

thead{
    border: 1px solid black;
}

th {
    border: 1px solid black;
    width: 5rem;
    font-weight: 900;
}

.small_screen{
    display: none;
}

@media screen and (max-width: 750px) {
    table{
        width: 100%;
    }
    .small_screen{
        display: block;
    }
    .big_screen{
        display: none;
    }
}

td{
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}

.today{
    border: 5px solid black;
    font-weight: 700;
}

.legend{
    text-align: left;
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
}

.legend_item{
    display: flex;
    margin: 0.5rem;
}

.legend_color{
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.green{
    background-color: #AEFF00;
}

.orange{
    background-color: #FF4B00;
}

.fuchsia{
    background-color: #FD35BC;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
}

@media screen and (max-width: 750px) {
    .event {
        width: 15rem;
    }
}
    


h2{
    margin: 1rem;

}

.event_description{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.poster{
    width: 15rem;
    height: 15rem;
    margin: 1rem;
}

.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.5rem;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ae2012;
    margin: auto;
}

.foot {
    border: 1px solid #ae2012;
    text-align: center;
    width: 40%;
    margin: auto;
}